.check-inbox-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 68px;
}
.bxs-plane-alt-1-icon11 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.my-dream-place16 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.bxs-plane-alt-1-parent8 {
  position: absolute;
  top: 22px;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.back-to-sign {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.back-to-sign-in-wrapper {
  position: absolute;
  top: 600px;
  left: 604px;
  border-radius: var(--br-7xs);
  background-color: var(--blue-1);
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.check-your-inbox {
  position: absolute;
  top: 450px;
  left: 607px;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  color: var(--color-gray-300);
  text-align: center;
  display: inline-block;
  width: 401px;
  height: 32px;
}
.sumail-johngmailcom {
  font-weight: 500;
  color: var(--gray-1);
}
.we-have-just-container {
  position: absolute;
  top: 494px;
  left: 607px;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 140%;
  text-align: center;
  display: inline-block;
  width: 400px;
  color: var(--gray-2);
}
.check-inbox-item {
  position: absolute;
  top: calc(50% - 325px);
  left: calc(50% - 140px);
  border-radius: var(--br-3xs);
  background-color: var(--gray-6);
  width: 280px;
  height: 250px;
}
.check-inbox {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 970px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-sf-pro-display);
}

/* 19-10-23 */

.check-inbox-item {
  background-image: url(images/inbox1.png);
}