.forgot-password-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 68px;
}
.bxs-plane-alt-1-icon12 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.my-dream-place17 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.bxs-plane-alt-1-parent9 {
  position: absolute;
  top: 22px;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.email-address7 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.email-address-wrapper5 {
  position: absolute;
  top: 372px;
  left: 625px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-6);
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  box-sizing: border-box;
  color: var(--gray-6);
}
.send-reset-link {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.send-reset-link-wrapper {
  position: absolute;
  top: 446px;
  left: 625px;
  border-radius: var(--br-7xs);
  background-color: var(--blue-1);
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  color: var(--color-white);
}
.your-email-address {
  position: absolute;
  top: 348px;
  left: 625px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
}
.forgot-your-password,
.well-send-you {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.forgot-your-password {
  top: 220px;
  left: 625px;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  width: 401px;
  height: 32px;
}
.well-send-you {
  top: 264px;
  left: 625px;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 140%;
  color: var(--gray-2);
  width: 400px;
}
.terms-and-conditions {
  color: var(--blue-1);
}
.by-creating-an-container1 {
  line-break: anywhere;
  width: 100%;
}
.by-creating-an-container {
  position: absolute;
  top: 520px;
  left: 625px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 401px;
  color: var(--gray-2);
}
.forgot-password {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 970px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
