.email-address8 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.eye-1-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.email-address-parent {
  position: absolute;
  top: 312px;
  left: 520px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-6);
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--gray-6);
}
.register-step-2-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 68px;
}
.bxs-plane-alt-1-icon13 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.my-dream-place18 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.bxs-plane-alt-1-parent10 {
  position: absolute;
  top: 22px;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.create-password {
  position: absolute;
  top: 160px;
  left: 519px;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 401px;
  height: 32px;
}
.email-address-group {
  position: absolute;
  top: 400px;
  left: 520px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-6);
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--gray-6);
}
.create-account {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.create-account-wrapper {
  position: absolute;
  top: 474px;
  left: 520px;
  border-radius: var(--br-7xs);
  background-color: var(--blue-1);
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  color: var(--color-white);
}
.confirm-password,
.password,
.use-a-minimum {
  position: absolute;
  left: 520px;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.use-a-minimum {
  top: 204px;
  font-size: var(--font-size-base);
  color: var(--gray-2);
  text-align: center;
  display: inline-block;
  width: 400px;
}
.confirm-password,
.password {
  top: 376px;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.password {
  top: 288px;
}
.terms-and-conditions1 {
  color: var(--blue-1);
}
.by-creating-an-container3 {
  line-break: anywhere;
  width: 100%;
}
.by-creating-an-container2 {
  position: absolute;
  top: 542px;
  left: 519px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 401px;
  color: var(--gray-2);
}
.register-step-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 970px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
